<body class="text-center">
    <h1>Welcome to To University Registrar!</h1>
    <!-- <img src="/img/to-do-list-icon.png" alt="picture of to do list" > -->
    <h2>Use the navigation bar above to view or add your courses and students.</h2>
</body>
